*.egg-info
.*cache
.dockerignore
.gitignore
/build/
build
/env/
**__pycache__
htmlcov
.vscode
**.mypy_cache
.git
artifacts
docker/storage
**.pytest_cache
docker/storage
**.pytest_cache
.coverage
.coverage.*
*.cover
*.log
.vscode
.dockerignore
