# Core

fuse-python>=1.0.0
jsonschema
pyyaml
click>=8.0  # smarter `show_default`: https://github.com/pallets/click/issues/1538
entrypoints
pynacl
graphlib-backport; python_version < '3.9'
progress

# Storage

python-gitlab
ipfshttpclient
protobuf
boto3
requests
python-dateutil
lxml
# imapclient version is for compatibility with python 3.9, pr: https://github.com/mjs/imapclient/pull/424
imapclient @ https://github.com/mjs/imapclient/archive/55f182f.zip
inotify_simple
python-daemon
pyxdg
pybear @ https://github.com/golemfoundation/pybear/archive/7af236fef1bce0466188b00f8e96b5a269e38959.zip
dropbox
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httplib2shim
treelib

# Development / testing

pip-tools
psutil
pytest
pytest-cov
pylint
mypy
python-lorem
yq
pyinstrument

# Documentation

sphinx
sphinx-autodoc-typehints
colorama
