# Core
fuse-python>=1.0.0
jsonschema
pyyaml
click
entrypoints

# Storage
https://github.com/ipfs-shipyard/py-ipfs-http-client/archive/bcec97aa83cf0b0348d8e160c3f68dc8495dbc1b.zip
protobuf
boto3
requests
python-dateutil
lxml
# imapclient version is for compatibility with python 3.9, pr: https://github.com/mjs/imapclient/pull/424
imapclient @ https://github.com/mjs/imapclient/archive/55f182f.zip
inotify_simple
python-daemon
pyxdg


# Development / testing
pip-tools
pytest
pytest-cov
pylint
mypy
python-lorem

# Documentation
sphinx
sphinx-autodoc-typehints
