# Core
fuse-python>=1.0.0
jsonschema
pyyaml
python-gnupg
click

# Storage
boto3
requests
python-dateutil
lxml

# Development / testing
pytest
pytest-cov
pylint
mypy

# Documentation
sphinx
sphinx-argparse
sphinx-autodoc-typehints
